.footer
{
  padding: rem 0 !important;
}

.cardBg
{
  background-color: transparent !important;
 
}
.socialIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  color: white !important;
  text-decoration: none;

}
.socialIcon i
{
  color: white !important;
}
